* {
 box-sizing: border-box;
}

body {
  background: rgba(0, 0, 0, 0.863);
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

#header {
  text-align: center;
  padding: 10px;
  font-size: 25px;
  color: rgba(99, 33, 161, 0.836);
}

.main h2 {
  text-align: center;
  font-size: 40px;
  color: crimson;
}

.main h3 {
  margin-top: 50px;
  font-size:1.8em;
  color:rgba(29, 207, 187, 0.719);
  text-align: center;
}

.main p {
  font-size: 1.4em;
  padding-left: 4px;
  margin-top: 100px;
  width: 140px;
  text-align: center;
  border: solid rgba(29, 207, 187, 0.719) 2px;
  box-shadow: 8px 8px rgb(73, 50, 72);
  padding: 4px;
}


.main {
  padding: 10px;
  margin: 10px;
  width: 36em;
  margin: 0 auto;
  max-width: 100%;
  line-height: 1.5;

}

.main a {
  font-size: 1.5em;
  padding: 4px;
  display: flex;
  flex-direction: column;
  white-space: normal;
}

.main a:link {
  width: fit-content;
  color: rgb(61, 189, 89);
}

.main a:visited {
  color: rgba(95, 140, 223, 0.911);
}

footer {
  text-align: center;
  height: 100%;
  width: fit-content;
  background: rgba(17, 16, 16, 0.849);
  color: rgb(252, 250, 250);
}




